#headerWidget {
  margin-bottom: 14px; }

#headerWidget #headerImage img {
  width: 100%; }

@media (min-width: 768px) {
  #headerWidget #headerImage img {
    width: 80%; } }

@media (min-width: 1024px) {
  #headerWidget #headerImage img {
    width: 60%; } }

#headerWidget #headerTitle {
  font-size: 24px;
  font-weight: bold;
  color: #bf3d3d; }

#headerWidget, #footerWidget {
  text-align: center;
}
